
/* 	Hi! I'm a CSS comment! I'm not code and I wont show up on 
	your website, but I'm still helpful! You can use me to 
	make notes about your code, write down ideas, or scream into
	the void. Typically, though, I'm used for notes :) 
	I can go across multiple lines!
	Just like (most) of the code you write, I have a beginning tag 
	and an ending tag (the asterisk and slash!) don't forget to use
	both otherwise you could cause some problems for your site! */

/*@font-face {
  font-family: 'Open Sans';
  src: url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600');
} */

/* 	this is a div! (division) named 'header'
	divs in CSS that start with a hashtag are referenced in HTML 
	by their id (name) go look in the HTML file to see how we "link" these properties
	to our actual content! */
#header{ 
	background: #D4EFDF; /* this weird number/letting thing is a colour! */
	width: 104vw;
	height: 300px;
	text-align: center;
  	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	margin-top: -2vh;
	margin-left: -2vw;
	margin-right: -2vw;
}

#menuIcon {
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

p, body, table {
  background-color: #fff;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

b {
	color: #A2D9CE;
}
i {
	color: #48C9B0;
}

img {
  display: inline-block;
}

th {
	text-align:center;
	font-weight: bold;
	font-size: 20px;
}