
/* 	Hi! I'm a CSS comment! I'm not code and I wont show up on 
	your website, but I'm still helpful! You can use me to 
	make notes about your code, write down ideas, or scream into
	the void. Typically, though, I'm used for notes :) 
	I can go across multiple lines!
	Just like (most) of the code you write, I have a beginning tag 
	and an ending tag (the asterisk and slash!) don't forget to use
	both otherwise you could cause some problems for your site! */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600');
@import url('https://fonts.googleapis.com/css?family=Zeyada');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');



p, body, table {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

a {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
}

.featured img {
;	clip: rect(0px,200px,200px,0px);
}

.featured {
	display: inline-block;
	position: relative;
	overflow:hidden;
	height: 250px;
	width: 250px;
}

.featured:hover {
	opacity: .5;
}


h1, th {
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 20px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
}
h2 {
	text-align: left;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 18px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
}

/* 	this is a div! (division) named 'header'!
	divs in CSS that start with a hashtag are referenced in HTML 
	by their class (name). Go look in the HTML file to see how we "link" these properties
	to our actual content! */
.header { 
	background: white;
	border-bottom: solid 1px black;
	width: 104vw;
	height: 30px;
	margin: -2vh -2vw 0 -2vw;
	padding: 2vh 3vw 0 3vw;
	text-align: center;
	z-index: 1;
}
.header a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-right: 10px;
    font-weight: lighter;
    text-transform: uppercase;
}
.header a:hover {
    color: grey;
}
.logo {
	float:left;
	padding-left: 2vw;
	margin-top: 0;
	background:white;
	font-family: 'Homemade Apple', cursive;
	font-size: 35px;
	color: black;
	z-index: 2;
}




